@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Montserrat:wght@300;400;500;700&family=Playfair+Display:wght@400;500;700&family=Roboto+Serif:opsz,wght@8..144,300;8..144,400;8..144,500;8..144,600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

:root {
  --main-color-1: #ffffff;
  --main-color-2: #eaedf2;
  --text-white: #fff;
  --big-heading-color: #090a0c;
  --box-shadow: #090a0c2e;
  --main-text-color: #393a3d;
  --sidelink-border-color: #5a5a641d;
  --section-label-color: #5a5a64;
  --about-me-pic-bg: #e3e3e3;
  --cta-color: #d9832e;

  --bg-hero-right: #fbfbfb;
  --bg-hero-left: #fcfcfc;
}

.app {
  width: 100%;
}

p,
span {
  font-family: "Merriweather", "sans-serif";
  font-weight: 500;
}

img {
  max-width: 100%;
  object-fit: cover;
}

/* Typography */

.name-title {
  font-family: "Roboto serif", "sans-serif";
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 2px;
}

.title {
  font-family: "Roboto serif", "sans-serif";
  font-weight: 700;
  font-size: 2.2rem;
  text-transform: uppercase;
  /* display: inline-block; */
}

.label {
  font-family: "Roboto serif", "sans-serif";
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-bottom: 10px;
}

.small-label {
  font-family: "Merriweather", "Sans-serif";
  font-weight: 500;
  font-size: 1.1rem;
}

.section-head-label {
  font-family: "Merriweather", "sans-serif";
  font-weight: 300;
  color: var(--section-label-color);
  word-spacing: 3px;
  letter-spacing: 2px;
  line-height: 1.5;
}

.text {
  font-family: "Merriweather", "sans-serif";
  font-weight: 500;
  color: var(--main-text-color);
  line-height: 1.5;
}

.btn {
  border: 2.5px solid var(--cta-color);
  padding: 15px 25px;
  user-select: none;
  color: var(--cta-color);
  background-color: var(--main-color-1);
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-family: "Merriweather";
  word-spacing: 2px;
  transition: all 300ms ease-in;
}

.btn:hover {
  background-color: var(--cta-color);
  color: var(--main-color-1);
}

.btn-fill {
  border: 2.5px solid var(--cta-color);
  padding: 15px 25px;
  user-select: none;
  color: var(--main-color-1);
  background-color: var(--cta-color);
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  font-family: "Merriweather", "sans-serif";
  word-spacing: 2px;
  transition: all 300ms ease-in;
}

.btn-fill:hover {
  background-color: var(--big-heading-color);
  color: var(--main-color-1);
  border-color: var(--big-heading-color);
}

/* padding */
.padding-x {
  padding-right: 2rem;
  padding-left: 2rem;
}

.padding-y {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-container {
  width: 90%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

/* media query */
@media (max-width: 1100px) {
  .padding-x {
    padding-left: 0;
    padding-right: 0;
  }

  .name-title {
    font-size: 2rem;
  }

  .sidebar {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    opacity: 0;
    z-index: 999;
  }
  .openSideMenu {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
    z-index: 999;
  }

  .closeSideMenu {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    opacity: 0;
  }

  .navbar {
    transform: translateY(0);
  }

  .toggle-mode {
    display: none;
  }

  .about-me,
  .hero {
    margin-left: 0;
    width: 100%;
  }

  .about-me-content {
    flex-direction: column;
  }
}

@media (max-width: 851px) {
  .hero-left {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    -webkit-transform: translate(-50%, -50%);
    z-index: 2;
    padding: 20px 0;
    width: 450px;
    max-width: 90%;
    flex: 2;
    height: 80vh;
  }
}

@media (max-width: 500px) {
  .button-holder {
    flex-direction: column;
    gap: 10px;
  }

  .button-holder button {
    align-self: flex-start;
    width: 150px;
  }

  .hero {
    height: 90vh;
  }

  .hero-right img {
    display: none;
  }

  .name-title {
    font-size: 1.8rem;
  }

  .label {
    font-size: 1.15rem;
  }

  .small-label,
  .small-text {
    font-size: 0.8rem;
  }

  .text {
    text-align: justify;
    font-size: 0.8rem;
  }

  .about-me-content-left {
    align-self: center;
    justify-self: center;
    flex: 1;
  }

  .about-me-content-right .personal-details {
    flex-direction: column;
  }

  .section-head-label {
    font-size: 0.8rem;
    word-spacing: 1px;
  }

  .about-me-frame {
    height: 50vh;
  }
}
