.home {
  transition: all 400ms ease;
  width: 100%;
}

.hero-main {
  width: 100%;
}

.hero {
  height: 100vh;
  display: flex;
  width: calc(100% - 105px);
  margin-left: 105px;
  position: relative;
}

.hero-left {
  flex: 1;
  background-color: var(--bg-hero-left);
  display: flex;
  align-items: center;
  transition: all 400ms ease;
}

.hero-left-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-right {
  flex: 1;
  background-color: var(--bg-hero-right);
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 400ms ease;
}

.hero-right > div {
  width: 300px;
  max-width: 100%;
}

.hero-right > div > img {
  height: 100%;
  max-width: 100%;
}

.button-holder {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.scroll-down {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cta-color);
  color: #fff;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translate(-50%, -30%);
  -webkit-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  cursor: pointer;
}

.scroll-down-icon {
  animation: scroll-icon 1500ms alternate-reverse infinite;
}

@keyframes scroll-icon {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(50%);
    opacity: 0.3;
  }

  70% {
    transform: translateY(0);
  }
}

.toggle-mode {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 20px;
  right: 4%;
  cursor: pointer;
}

/* About me */

.about-me {
  background-color: var(--main-color-2);
  width: calc(100% - 105px);
  margin-left: 105px;
}

.about-me-content {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.about-me-content-left {
  flex: 1;
}

.about-me-content-right {
  flex: 1;
  padding-top: 30px;
}

.about-me-content-right > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-me-frame {
  height: 80vh;
  border: 15px solid var(--text-white);
  border-radius: 4px;
  background-color: var(--about-me-pic-bg);
  max-width: 450px;

  position: relative;
}

.about-me-frame img {
  height: 100%;
  max-width: 100%;
}

.about-me-frame .social-media-links {
  width: 50px;
  height: 180;
  background-color: var(--text-white);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 20px;
}

.about-me-frame .social-media-links li {
  width: 35px;
  height: 35px;
  background-color: var(--cta-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px;
  transition: all 400ms ease;
}

.about-me-frame .social-media-links li:hover {
  background-color: var(--big-heading-color);
}

.about-me-frame .social-media-links li svg {
  color: var(--text-white);
}

.about-me-content-right .personal-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.about-me-content-right .personal-details ul li {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.about-me-content-right .personal-details ul li .field {
  display: inline-block;
  border-right: 1px solid #ccc;
  font-size: 0.9rem;
  width: 90px;
  font-weight: 600;
}

.about-me-content-right .personal-details ul li .value {
  padding-left: 10px;
  font-size: 0.8rem;
}

.services {
  min-height: 100vh;
  width: calc(100% - 105px);
  margin-left: 105px;
  background-color: var(--main-color-2);
}

.card-container {
  display: grid;
  margin-top: 40px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Portfolio */

.portfolio {
  background-color: var(--main-color-1);
  width: calc(100% - 105px);
  margin-left: 105px;
}

.project-container {
  display: grid;
  margin-top: 30px;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.contact {
  width: calc(100% - 105px);
  margin-left: 105px;
  background-color: var(--main-color-2);
}

.contact-inner-content {
  margin-top: 50px;
  display: flex;
  gap: 40px;
}

.contact-form {
  flex: 2;
  padding: 35px;
  background-color: var(--main-color-1);
  border-radius: 8px;
  box-shadow: 3px 5px 6px var(--box-shadow);
}

.contact-address-phone {
  flex: 1;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-form form .text-field {
  display: flex;
  gap: 30px;
  position: relative;
}

.contact-form form .text-field input,
.contact-form form .text-field textarea {
  flex: 1;
  padding: 10px 0;
  border: 0;
  border-bottom: 2px solid var(--about-me-pic-bg);
  font-weight: 500;
  font-size: 1rem;
  transition: all 500ms ease;
  position: relative;
  background: none;
}

.contact-form form .text-field input:focus,
.contact-form form .text-field textarea:focus {
  outline: none;
}

.contact-form form .text-field::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--cta-color);
  height: 2px;
  transition: all 400ms ease;
}

.contact-form form .text-field input:focus,
.contact-form form .text-field textarea:focus {
  border-color: var(--cta-color);
}

textarea {
  height: 100px;
}

.contact-address-phone {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-address-phone .contact-add-phone {
  padding: 20px;
  display: flex;
  gap: 20px;
  background-color: var(--main-color-1);
  box-shadow: 2px 4px 6px var(--box-shadow);
}

.contact-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cta-color);
  color: var(--text-white);
}

.contact-address-phone .contact-add-phone .contact-details p:first-child {
  margin-bottom: 15px;
}

.footer {
  margin-left: 105px;
  background-color: var(--big-heading-color);
}

.footer .content {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.footer .footer-name {
  color: var(--section-label-color);
}

.footer .copy-right {
  color: var(--section-label-color);
  display: flex;
  align-items: center;
}
